.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-body {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-button {
  margin: 10px;
  margin-top: 10px;
  width: 95%;
}

.submit-button-container {
  text-align: center;
}

.navbar-user {
  margin-right: 30px;
}

.question-options {
  text-align: left;
}

.question-options label {
  margin-left: 10px;
}

.question-option-result {
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.option-vote-summary {
  text-align: center;
}

.result-bar {
  margin-top: 10px;
}

.you-voted-badge {
  margin-top: 15px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.new-question-input {
  margin: 10px;
}

.app-card {
  margin-bottom: 20px;
}

.card-header-avatar {
  float: left;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.card-header-name {
  margin-top: 8px;
  text-align: left;
}

.leaderboard-card-body {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.leaderboard-score-details {
  margin-top: 20px;
}

.leaderboard-score {
  font-size: 24px;
}

.login {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  text-align: center;
}

.login-select {
  margin: 20px;
}

.login-welcome {
  font-size: 32px;
}

.login-please {
  margin-bottom: 0px;
}

.loading-spinner {
  margin-top: 25px;
}

.saving-spinner {
  margin-right: 10px;
}